<?xml version="1.0" encoding="UTF-8"?>
<widget id="io.cordova.hellocordova" version="0.0.1" android-versionCode="13" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Bllyte</name>
  <description>A sample Apache Cordova application</description>
  <author email="sarps@sarps.com" href="http://cordova.io"></author>
  <access origin="*"></access>
  <allow-navigation href="cordova_7-config_ref-*:--*-5.9.86.210-*.html?lang=en" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <engine name="android" spec="https://github.com/apache/cordova-android.git#5.1.1" />
</widget>
